body    {
    font-family: arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
}
a   {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

#gap    {
    width: 10000px;
}

#img1   {
    position: relative;
    left: -0.5em;
    top: 0.3em;
}

#submit_button  {
    display: inline-block;
    font-weight: bold;
    background-color: #4285f4;
    border-width: 0px;
    border-radius: 7%;
    color: #fff;
    padding: 0 12px;
}

#logo {
    position: relative;
    margin: auto;
    padding-top: 109px;
    width: 272px;
    height: 92px;
}
